img#img-loading {
    width: 50px;
    height: 50px;
}

.box-header {
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#edit-icon {
    cursor: pointer;
    padding: 2px;
}

.md-button {    
    text-transform: capitalize !important;/*For Lower case use lowercase*/
}

.container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
}

th {
    width: 90px;
    text-align: left;
}

table.table {
    width: 800px;
}

md-content {
    background-color: #ffffff;
}


md-dialog {
  width: 100%;
}

button.btn-dialog.md-raised.md-primary.md-button {
  width: 150px;
  height: 50px;
  float: right;
}

div#tablePeoples {
  width: 85vw;
}

#content-loading {
  width: 85vw;
  display: flex;
  align-content: center;
  justify-content: center;
}

.center-container {
  display: flex;
  align-content: center;
  justify-content: center;
}